@import "@/components/style.scss";
@import "~@jswork/react-github-corner/dist/style.scss";
@import "~@jswork/react-sw-update-tips/dist/style.scss";
@import "~@jswork/react-demokit/dist/style.scss";

.app-container {
  .is-body {
    padding: 20px;
    background: #fff;
  }
  .inner {
    margin: 200px;
    padding: 40px;
    border: 5px dashed #ccc;
    &:hover {
      background: #eee;
      border-color: #aaa;
    }
    .react-ant-confirm {
      margin-right: 30px;
    }
  }

  .is-actions {
    text-align: center;
    > * {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
}
